@import "../Variables/fonts.css";
@import '../Variables/colors.css';

.name {
  font-size: 3em;
  font-family: var(--dancingScript);
  margin-left: 1.5em;
  font-weight: 600;
}

#iconName {
  color: var(--blue);
}

@media only screen and (max-width: 800px) {
  .name {
    font-size: 3em;
  }
}

@media only screen and (max-width: 400px) {
  .name {
    font-size: 1.7em;
    padding-top: 0.6em;
    margin: 0;
    margin-left: 0.5em;
  }
}