@import '../Variables/colors.css';
@import '../Variables/fonts.css';

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 65px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.menu {
    display: block;
    float: right;
    padding-right: 2em;
    height: auto;
}

.menuLI {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    text-align: center;
    margin: 0.5em;
}

.menuItem {
    border-radius: 5em;
    border: 1px solid var(--blue);
    text-decoration: none;
    padding: 0.5em;
    background-color: transparent;
    cursor: pointer;
    font-family: var(--roboto);
    font-size: 1.1em;
    font-weight: bold;
    list-style: none;
    color: var(--blue);
    text-align: center;
}

.menuItem:hover {
    background-color: var(--blue);
    color: white;

}

nav {
    transition: .3s;
}

nav.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

@media only screen and (max-width: 800px) {
    .checkbtn {
        display: block;
        translate: -2em;
    }

    .listMenu {
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--gray-background);
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all 0.5s;
    }

    .menuLI {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .menuItem {
        font-size: 20px;
    }

    .menuLi a:hover,
    .menuLi a.active {
        background: none;
        color: red;
    }

    #check:checked~.listMenu {
        left: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .sticky {
        display: block;
        position: static;
    }

    #check {
        display: none;
    }

    .checkbtn {
        margin: auto;
    }

    .menu {
        display: none;
    }
}