@import '../Variables/fonts.css';

div.card {
    padding: 0;
    width: 75%;
    padding-bottom: 1.3em;
}

.EducationCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    zoom: 1;
    vertical-align: top;
    margin: auto;
    width: 90%;
}

.titleEducation {
    font-family: var(--dancingScript);
    font-size: 3em;
    padding: 0.5em 0.5em 0.5em 2em;
    margin: 0;
}

.cardEducation {
    border-radius: 0.5em;
    width: 85%;
    height: 70%;
    box-shadow: 0 0.2em 0.5em 0.2em #00000010;
    justify-items: center;
    align-items: center;
}


.imageCardEducation {
    display: flex;
    margin: auto;
    width: 15em;
    height: 6em;
    box-sizing: content-box;
    border: 0.1em solid transparent;
}

.cardTitleEducation {
    text-align: center;
    font-weight: bold;
    font-family: var(--poppins);
    font-size: 1.3em;
    margin: 0;
}

.cardSubtitleEducation {
    font-family: var(--poppins);
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin: 0;
}

.cardBodyEducation {
    background-color: var(--gray-background);
    margin: auto;
    border-top: 0.1em outset #80a5dd;
    width: 28.56em;
    border-end-end-radius: 0.5em;
    translate: -0.05em;
}

@media only screen and (max-width: 800px) {
    div.education {
        width: auto;
        padding-bottom: 3em;
        justify-self: center;
        align-self: center;
    }

    div.card {
        width: 70%;
        height: auto;
        padding-bottom: 0;
        margin-bottom: 2em;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        margin-bottom: 3em;
    }

    .EducationCard {
        display: block;
        justify-items: center;
        margin: auto;
        position: relative;

    }

    .titleEducation {
        width: 50%;
    }

    .cardBodyEducation {
        width: auto;
        height: 50%;
        translate: 0em;
    }
}

@media only screen and (max-width: 400px) {
    div.education {
        padding: 0;
    }

    div.card {
        width: auto;
        padding: 0;
    }

    .EducationCard {
        display: block;
    }

    .titleEducation {
        padding: 0.5em 0.5em 0.5em 0.5em;
    }


    .cardBodyEducation {
        width: auto;
        translate: 0em;
        height: 100%;
    }
}