@import '../../Variables/colors.css';
@import '../../Variables/fonts.css';

.hobbies {
    background-color: var(--gray-background);
    padding-bottom: 5em;
}

.hobbiesCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    padding-bottom: 0.5em;
    zoom: 1;
    margin-left: 4em;
    margin: auto;
    gap: 1em;
}

.titleHobbies {
    font-family: var(--dancingScript);
    font-size: 3em;
    padding: 0.5em 0.5em 0.5em 2em;
    margin: 0;
}

.cardHobbies {
    display: flex;
    border-radius: 0.5em;
    width: 70%;
    height: 70%;
    margin: 0.5em;
    padding: 1em;
    box-shadow: 0 0.2em 0.5em 0.2em #00000010;

}

.imgBody {
    margin: 1em;
    margin-bottom: 0;
}

.imageCard {
    display: flex;
    width: 4em;
    margin: 1em;
}

.cardTitle {
    text-align: center;
    font-weight: bold;
    font-family: var(--poppins);
}

/* @media only screen and (max-width: 800px) {
} */

@media only screen and (max-width: 400px) {
    .hobbiesCard {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }

    .containerHobbies .card {
        margin: 0;
        padding: 1em;
    }

    .cardBody {
        padding: 0;
    }

    .titleHobbies {
        padding: 0.5em;
    }
}