.title {
    font-family: var(--dancingScript);
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 2em;
    margin: 0;
}

/* @media only screen and (max-width: 800px) {

} */

@media only screen and (max-width: 400px) {
    .title {
        padding: 0.5em;
    }
}