@import '../Variables/colors.css';
@import '../Variables/fonts.css';

.containerFooter {
    background-color: var(--blue);
    padding: 5em 5em 1em 5em;

}

.containerLogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: auto;
    max-width: 5em;
}

.dev {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 0;
    font-family: var(--dancingScript);
    font-weight: 200;
    font-size: 1.1em;
}