@import '../Variables/fonts.css';
@import '../Variables/colors.css';

.projects {
    background-color: var(--gray-background);
}

.titleProjects {
    font-family: var(--dancingScript);
    font-size: 3em;
    padding: 0.5em 0.5em 0.5em 2em;
    margin: 0;
}

.cardProjects {
    margin-left: 10em;
}

.containerTitle {
    display: flex;
    font-family: var(--poppins);
    font-size: 1.4em;
}

.titleProject {
    margin: 0;
    margin-left: 7em;
    font-weight: bold;
    padding-bottom: 1em;
}

.titleProject:visited {
    color: black;
}


.clickMe {
    padding-top: 0.28em;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--blue);
    animation-name: twinkle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: twinkle;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes twinkle {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes twinkle {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes twinkle {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.clickMe:visited {
    color: var(--blue);
}


/* Carousel Styles */
.carousel {
    display: grid;
    grid-template-columns: 2.8em 30em 2em;
    justify-content: center;
}

.carouselImg {
    max-width: 500px;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: 1s;
    margin: auto;
    border-radius: 1em;
    margin-bottom: 3em;

    &.loaded {
        opacity: 1;
    }
}

.carouselButton {
    border: none;
    background-color: transparent;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2em;
}

.carouselButton:hover {
    background-position: right;
    color: var(--blue);
    transition: 1000ms;
}